{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always"
}
